body{
  height: 3000px;

}
.code{
  color: blue;
  margin-left: -195px;
}
.nav{
  height: 40px;
  background-color: rgb(197, 193, 193);
  display: flex;
  padding-left: 20px;
  flex-direction: row;
  align-items: center;
}

.header{
   background-image: url(bacground\ img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  margin-top: -47px;
}

.ht{
 padding-left: 400px;
 padding-top: 150px;
 font-size: 70px;
 color: white;
 font-weight: bold;
}
span{
  padding-left: 200px;
}

.te{
  color: white;
  padding-left: 510px;
  line-height: 30px;
  font-style: italic;
  margin-top: 10px;
   font-size: 20px;
}
.tes{
  padding-left: 50px;
 
}

.btn{
  margin-left: 590px;
display: flex;
justify-content: space-between;
padding-right: 600px;
}

button {
height: 40px;
cursor: pointer;
}
button:hover{
  opacity: 0.7;
}
.b2{
 background-color:  rgb(197, 193, 193);
}
 .b1{
  background-color: blue;
  color: white;
 }

 .s2{
background-color: whitesmoke;
margin-top:-40px;
height: 350px;
 }

 .about{
  font-weight: bold;
  font-size: 40px;
  margin-left: 550px;

 }